@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;500&display=swap');

:root{
    --primary-color:#0077b6;
    --secondary-color:#00b4d8;
    --light:#f4f4f4;
    --dark:#222;
    --white:#fff;

    --font-main:'Poppins',sans-serif;
    --font-second:'Roboto',sans-serif;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--font-main);
    background:var(--light);
    color:var(--dark);
    line-height:1.6;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:var(--primary-color);
    padding:15px 8%;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.logo h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:yellow;
}


.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("images/hospital.jpg") center/cover;
}

.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:var(--secondary-color);
    color:white;
    text-decoration:none;
    border-radius:30px;
    transition:.4s;
}

.btn:hover{
    background:#023e8a;
}


.services{
    padding:60px 8%;
}

.services h2{
    text-align:center;
    margin-bottom:40px;
}

.service-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.4s;
    text-align:center;
}

.card:hover{
    transform:translateY(-10px);
}

/* Table */
.schedule{
    padding:60px 8%;
}

.schedule h2{
    text-align:center;
    margin-bottom:25px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

table th,
table td{
    border:1px solid #ddd;
    padding:15px;
    text-align:center;
}

table th{
    background:var(--primary-color);
    color:white;
}

/* Footer */
footer{
    background:var(--primary-color);
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Responsive */
@media(max-width:768px){

header{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    text-align:center;
    margin-top:15px;
}

nav ul li{
    margin:10px 0;
}

.hero h1{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

.service-container{
    flex-direction:column;
    align-items:center;
}

table{
    font-size:14px;
}

  }
